div.map-nav-container{
    display: flex;
    flex-direction: column;
    position: relative;
    

    background-color: rgba(0,0,0,0.9);  
}

.zone-header{
    font-size: 12px;
    background: linear-gradient(90deg, rgb(142,137,132), rgb(108,102,93));
    border-radius: 5px;
    padding: 1px 10px;
    border-width: 1px;
    border-style: solid;
    color: rgb(24,23,22);
    font-weight: 900;
    text-shadow: none;
    box-shadow: 1px 1px 4px #111;
    
    cursor: pointer;
    
}

ul.map-nav {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: relative;
    
    
    &.hide{
        display: none;
    }
    
    li{
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0px 10px;
        margin: 4px 0;
        font-size: 13px;
        color: rgb(255,243,209);
        text-shadow: -1px -1px 0 rgb(54,40,0), 1px -1px 0 rgb(54,40,0), -1px 1px 0 rgb(54,40,0), 1px 1px 0 rgb(54,40,0);
        
        &:hover{
            background: linear-gradient(90deg, rgba(0,0,0,0.4), rgba(0,0,0,0));
            border-radius: 4px;
        }
        
        
    }
}




.icon {
    height:20px;
    width:20px;
    display: inline-block;
    margin-right: 5px;
}

.icon-coerthas {
    background: url("/assets/ui/uld/teleport.tex.png") -132px 0px;
}

.icon-other{
    background: url("/assets/ui/uld/teleport.tex.png") -112px -20px;
}

.icon-othard {
    background: url("/assets/ui/uld/teleport.tex.png") -112px -20px;
}

.icon-la-noscea {
    background: url("/assets/ui/uld/teleport.tex.png") -92px -0px;
}

.icon-thanalan {
    background: url("/assets/ui/uld/teleport.tex.png") -92px -20px;
}

.icon-shroud {
    background: url("/assets/ui/uld/teleport.tex.png") -112px -0px;
}

.icon-gyrabania {
    background: url("/assets/ui/uld/teleport.tex.png") -172px -0px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}