.map-container{
    display: flex;
    align-items: stretch;
    width:100%;
    justify-content: center;
    flex: 1;

}

.map{ 
    height: $tile-size;
    width: $tile-size;
    display: inline-block;
    position: relative;
    
    background-color: rgba(0,0,0,1);
}

.map-div{
    //flex: 1;
    display: flex;
    justify-content: center;
}

.location{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width:100%;
    z-index: 2001;
    
    margin: 0 auto;
    
    
    div{
        display: inline-block;
        position: absolute;
        width: 25%;
        margin: 0 auto;
        
        img{
           width : 100%;
        }
    }
}
